.upload{
    border: 2px dotted black;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

form input, form textarea{
    width: 100%;
    margin-bottom: 2rem;
}

form textarea{
    height: 100px;
}

.uptail ul{
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    li{
        text-decoration: none;
        list-style-type: none;
        border: 2px solid black;
        padding: 2rem;

    }
}

#projectForm button a{
    text-decoration: none;
    color: black;
}
#projectForm a{
    color: black;
}

.upload label{
    width: 727.200px;
    height: 345.425px;
}

.upload img{
    width: 30%;
    height: auto;
}

.profile_folder{
    max-width: 1000px;
    margin: auto;
}

.services {
    text-align: center;
    margin: 20px;
    
    /* width: 100%; */
}

#service{
    padding: .5rem;
    text-align: center;
}

.uptail ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.uptail button {
    background-color: #6c9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.uptail button:hover {
    background-color: #007a33;
    transform: scale(1.05);
}

.uptail button:focus {
    outline: none;

}

.uptail button:active {
    background-color: #007a33; /* Active button color */
}

#uploadBtn a{
    color: black;
}

