* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

:root {
    --size-1: 0.5rem;
    --size-2: 2rem;
    --size-1: 3rem;

    --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#map {
    height: 100vh; /* The height is 400 pixels */
    width: 100vw; /* The width is the width of the web page */
}

/* sidebar */

body {
    position: relative;
    z-index: 0;
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 2%;

    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 4rem;

    background-color: white;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-radius: 0px 0 20px 20px;
    box-shadow: var(--box-shadow);
}

/* tags */
.tags #tag {
    /* box-shadow: 10px 5px 10px rgba(9, 174, 11, 0.225); */
    box-shadow: var(--box-shadow);
}

/* sidebar tags */

.tags ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.tags ul li {
    padding: 0.3rem 0.6rem;
    background-color: white;
    border-radius: 30px;
}

/* sidebar cards */
.cards {
    position: absolute;
    bottom: 0;
    padding: 2rem 4rem 2rem 0;
}

.cards {
    /* display: flex;
    flex-direction: row;
    gap: 1rem; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 19%;
    gap: 2rem;

    padding-left: 3rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    /* snap */
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 3rem;
}

.cards > * {
    scroll-snap-align: start;
}

.card .card-details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-top: 0.5rem;
}

.cards .card {
    padding: 1rem;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
}

.card {
    /* display: flex;
    flex-direction: column;
    gap: 5px; */

    display: grid;
    gap: 0.5rem;
    grid-template-rows: min-content;
    box-shadow: var(--box-shadow);
}

.card .card-tag {
    padding: 0.3rem 0.6rem;
    background-color: lightgrey;
    border-radius: 30px;
}

.card img {
    border-radius: 10px;

    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card .name {
    font-weight: 700;
    font-size: 1.2rem;
}

.card .card-star {
    position: relative;
    width: 100%;
}

.card .card-star::before {
    content: "\2606 \2606 \2606 \2606 \2606";
    position: absolute;
    width: 100%;
    color: transparent;
    top: 0;
    left: 0;
}

.card .card-star::after {
    content: "\2605 \2605 \2605 \2605 \2605";
    position: absolute;
    top: 0;
    left: 0;
}

/* sidebar --- */

/* Container */
