* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

:root {
    --size-1: 0.5rem;
    --size-2: 2rem;
    --size-1: 3rem;

    --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        4px 2px 5px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        -10px 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#map {
    height: 100vh; /* The height is 400 pixels */
    width: 100vw; /* The width is the width of the web page */
}

/* sidebar */

body {
    position: relative;
    z-index: 0;
}

#container {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    max-height: 250px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* display: grid; */
    /* grid-template-columns: repeat(10, 1fr); */
    /* grid-template-rows: repeat(6, 1fr); */
}

/* tags */

#container .tagList .tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

#container .tagList .tags .tag {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

#container .tagList .tags .tag.filter-active {
    background-color: green;
    color: white;
}

.top-container {
    padding: 2.5rem;

    background-color: white;
    width: 90vw;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    box-shadow: 2.8px 2.8px 11.6px rgba(0, 0, 0, 0.022),
        6.7px 6.7px 36.8px rgba(0, 0, 0, 0.032),
        12.5px 12.5px 81.6px rgba(0, 0, 0, 0.04),
        22.3px 22.3px 153.4px rgba(0, 0, 0, 0.048),
        41.8px 41.8px 237.2px rgba(0, 0, 0, 0.058),
        100px 100px 261px rgba(0, 0, 0, 0.08);
}

#container .right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#container .right-section .addPost-button button {
    padding: 0.8rem 1.6rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 30px;
}

#container .right-section .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 1rem;
}

#container .right-section .profile-img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-width: 100%;
    display: block;
}

/* sidebar tags */

/* .tags ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.tags ul li {
    padding: 0.3rem 0.6rem;
    background-color: white;
    border-radius: 30px;
} */

/* sidebar cards */
/* .cards {
    position: absolute;
    bottom: 0;
    padding: 2rem 4rem 2rem 0;
} */

/* .cards { */
/* display: flex;
    flex-direction: row;
    gap: 1rem; */
/* display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 19%;
    gap: 2rem;

    padding-left: 3rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    /* snap */
/* scroll-snap-type: inline mandatory;
scroll-padding-inline: 3rem; */
/* }  */

/* .cards > * {
    scroll-snap-align: start;
}

.card .card-details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-top: 0.5rem;
}

.cards .card {
    padding: 1rem;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
} */

/* .card {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: min-content;
    box-shadow: var(--box-shadow);
}

.card .card-tag {
    padding: 0.3rem 0.6rem;
    background-color: lightgrey;
    border-radius: 30px;
}

.card img {
    border-radius: 10px;

    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card .name {
    font-weight: 700;
    font-size: 1.2rem;
}

.card .card-star {
    position: relative;
    width: 100%;
}

.card .card-star::before {
    content: "\2606 \2606 \2606 \2606 \2606";
    position: absolute;
    width: 100%;
    color: transparent;
    top: 0;
    left: 0;
}

.card .card-star::after {
    content: "\2605 \2605 \2605 \2605 \2605";
    position: absolute;
    top: 0;
    left: 0;
} */

/* sidebar --- */

/* Container */
